/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    paddingg: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ull {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: nonee;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
	#color: #444;
	color: #2e2e2e;
	font: 1.1em arial,sans-serif;
}

body::selection {
    background-color: #82e894;
}

input {
    #color: #444;
	color: #2e2e2e;
    font: 1em arial,sans-serif;
}

textarea {
    #color: #444;
	color: #2e2e2e;
    font: 0.8em arial,sans-serif;
}

textarea::-webkit-input-placeholder { 
    color: #d9d9d9;
}
textarea::-moz-placeholder {
    color: #d9d9d9;
}
textarea:-moz-placeholder {
    color: #d9d9d9;
}
textarea:-ms-input-placeholder {
    color: #d9d9d9;
}
