{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "weightlog/reset.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "weightlog/base.css" %}" />
        <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script-->
        <script src="{% static "weightlog/jquery.min.js" %}"></script>
		{% block extracss %}{% endblock %}
        {% block extrascripts %}{% endblock %}
	</head>
	<body>
        <div id="main-hdr">
            <div id="ldiv">
                <a href="workout" id="logo">Log your lift</a>
                <div id="usrinf">
                {{user.username}}
                </div>
            </div>
        </div>
        <section id="menu">
            <nav id="menu-nav">
                <ul>
                    <li>
                        <a href="workout">Home</a>
                    </li>
                    <li>
                        <a href="workout">New Workout</a>
                    </li>
                    <li>
                        <a href="workout">Monthly</a>
                    </li>
                    <li>
                        <a href="workout">Excersises</a>
                    </li>
                    <li>
                        <a href="workout">Progress</a>
                    </li>
                    <li>
                        <a href="workout">Planning</a>
                    </li>
                </ul>
            </nav>
        </section>
        <div id="back">
            <div id="container">
            {% block content %}{% endblock %}
            </div>
        </div>
	</body>
</html>
