{% extends "weightlog/base.html" %}
{% load staticfiles %}

{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static "weightlog/nw.css" %}" />
{% endblock %}

{% block extrascripts %}
    <script src="{% static "weightlog/in.js" %}"></script>
    <script>
        $(document).ready(function() {
            fancy_text();
            set_date();
        });

    </script>
{% endblock %}

{% block title %}Add New Workout{% endblock %}

{% block content %}
<div class="main">
    <div class="intext">
        <input type="text" name="name1" placeholder="New Workout" />
    </div>
    <div class="ra">
        <input type="date" id="date"/>
    </div>
	<ul class="inset">
		<li>
            <div class="section">
                Warm Up
                <div class="insec">
                    <div class="secval">
                        <input type="text" name='ex1' placeholder="Excersice"/>
                        <span class="spacing"></span>
                        <input type="text" name='val' placeholder="Value"/>
                    </div>
                    <textarea placeholder="Notes" maxlength="250"></textarea>
                </div>
            </div>
		</li>
		<li>
            <div class="section">
                Lifts
                <div class="insec">
                    <div class='secval'>
                        <div class="secval">
                            <input type="text" name='ex2' placeholder="Excersice" />
                        </div>
                        <span class="wsr">
                            Weight:
                            <input type="number"/>
                        </span>
                        <span class="wsr">
                            Sets:
                            <input type="number"/>
                        </span>
                        <span class="wsr">
                            Reps:
                            <input type="number"/>
                        </span>
                    </div>
                    <textarea placeholder="Notes" maxlength="250"></textarea>
                </div>
            </div>
		</li>
		<li>
            <div class="section">
                Stretching
                <div class="insec">
                    <div class="secval">
                        <input type="text" name='str'  placeholder="Stretch" />
                        <span class="spacing"></span>
                        <input type="text" name='dur' placeholder="Duration"/>
                    </div>
                </div>
            </div>
		</li>
	</ul>
</div>
{% endblock %}

