extends weightlog/base
-load staticfiles

block extrascripts
    script(src='{% static "weightlog/in.js" %}')
    //script(type='text/javascript').
    script()
        $(document).ready(function() {
            set_date();
            //console.log("excer: %s, w: %s\n", $('#excer0').val(), $('#e0w0').val() == '');
            //set_arrow_keys();
            init_workouts();
            $("#e0 tr").focusin(function() {
                update_entries(this);
            });
            $("table").focusin(function() {
                update_tables(this);
            });
            $("#submit").click( function() {
                //submit_workout();
                add_workout();
                //append_excercise();
            });
            $(".excer").each( function() {
                add_autocomplete(this.id);
            });
        });

block content
    #main
        input(type="text", name="name1", placeholder="New Workout")#wo_name
        input(type="date")#wo_date
        input(type="text", name="description", placeholder="Description")#wo_descr
    #lifts
        p Lifts
                        
        table#exc0
            thead
                th
                th Weight
                th Reps
                th Sets
            tbody#e0
                tr#e0ent0
                    td
                        input(type='text', name='excer', placeholder='Excercise')#excer0.excer
                        input(type='hidden')#e0
                    td
                        input(type='number')#e0w0
                    td
                        input(type='number')#e0r0
                    td
                        input(type='number')#e0s0
                    td
                        input(type='textarea', placeholder='Notes')#e0n0
                tr#e0ent1
                    td
                    td
                        input(type='number')#e0w1
                    td
                        input(type='number')#e0r1
                    td
                        input(type='number')#e0s1
                    td
                        input(type='textarea', placeholder='Notes')#e0n1
    input(type='button', value='submit')#submit

